<template>
  <v-dialog max-width="500px">
  <!-- <v-dialog v-model="openDialog" max-width="500px"> -->
    <v-card>
      <v-card-title>
        Edit Note
      </v-card-title>
      <v-card-text>

      <v-layout row>
        <v-flex xs12>
          <v-text-field
            name="title"
            label="Title"
            id="title"
            v-model="note.title"
          ></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout row>
        <v-flex xs12>
          <v-text-field
            name="note"
            label="Note"
            id="note"
            v-model="note.note"
            required
          ></v-text-field>
        </v-flex>
      </v-layout>

      </v-card-text>
      <v-card-actions>
        <!-- <v-btn color="primary" flat @click.stop="isEditing = false">Close</v-btn> -->
        <!-- <v-btn color="primary" flat @click.stop="this.$emit(isEditing = false)">Close</v-btn> -->
        <v-btn color="green" @click.stop="updateNote">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
import { db } from '../assets/app'

export default {
  name: 'edit-note-modal',
  props: {
    note: {
      // type: [Object, null],
      type: Object,
      required: true
    },
    isEditing: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      // notes: [],
      // title: '',
      // note: '',
      // newNoteModal: false,
      // alertMsgVisible: false,
      // alertMsg: '',
      // isEditing: true,
      // editId: null
    }
  },
  computed: {
    // openDialog: function () {
    // openDialog: {
    //   get: function () {
    //     return this.isEditing
    //   },
    //   set: function (value) {
    //     // this.isEditing = Boolean(value)
    //     this.$emit('isEditing', false)
    //   }
      // console.log(this.isEditing)
      // return this.isEditing
    // }
  },
  // firestore () {
  //   return {
  //     notes: db.collection('notes').orderBy('createdAt')
  //   }
  // },
  methods: { 
    updateNote () {
      const _this = this
      if (_this.note) {
        const id = _this.note.id
        const title = _this.note.title
        const note = _this.note.note
        // const hashCode = (s) => {
        //   return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
        // }
        // console.log(hashCode(title))
        const updatedAt = new Date()
        db.collection('notes').doc(id).update({ title, note, updatedAt }).then(function () {
          _this.$emit('isEditing', false)
          // _this.isEditing = false
          // _this.newNoteModal = false
          // _this.title = ''
          // _this.note = ''
        })
      }
    },
  }
}
</script>