<template>
<v-container grid-list-md text-xs-center>

  <v-layout row wrap>
      <v-flex xs4>
        <v-subheader>Firebase Demo</v-subheader>
      </v-flex>
  </v-layout>

  <v-alert type="success" :value="alertMsg" dismissible v-model="alertMsgVisible">
    {{alertMsg}}
  </v-alert>

  <v-btn
    color="pink"
    dark
    fixed
    bottom
    right
    fab
    @click.stop="newNoteModal = true"
  >
    <v-icon>add</v-icon>
  </v-btn>

  <v-layout row wrap>

    <v-flex xs12 sm6 v-for="note in notes" :key="note.id" class="mt-2">

      <v-card>
        <!-- <v-card-media src="/static/doc-images/cards/desert.jpg" height="200px"></v-card-media> -->
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{note.title}}</h3>
            <div>{{note.note}}</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <!-- <v-btn flat color="blue" @click.stop="isEditing = true">Edit</v-btn> -->
          <v-btn flat color="blue" @click.stop="editNote(note)">Edit</v-btn>
          <!-- <v-btn flat color="blue" @click.stop="editNote(note.id)">Edit</v-btn> -->
          <v-btn flat color="red" @click.stop="deleteNote(note.id)">Delete</v-btn>
        </v-card-actions>
      </v-card>


    </v-flex>

  </v-layout>

  <!-- <edit-note-modal :note="editedNote" :is-editing="isEditing" v-if="isEditing"></edit-note-modal> -->
  <!-- <edit-note-modal :note="editedNote" v-if="isEditing"></edit-note-modal> -->
  <edit-note-modal :note="editedNote" :is-editing="isEditing"></edit-note-modal>





  <!-- <v-dialog v-model="isEditing" max-width="500px" v-if="editedNote">
    <v-card>
      <v-card-title>
        Edit Note
      </v-card-title>
      <v-card-text>

      <v-layout row>
        <v-flex xs12>
          <v-text-field
            name="title"
            label="Title"
            id="title"
            v-model="editedNote.title"
          ></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout row>
        <v-flex xs12>
          <v-text-field
            name="note"
            label="Note"
            id="note"
            v-model="editedNote.note"
            required
          ></v-text-field>
        </v-flex>
      </v-layout>

      </v-card-text>
      <v-card-actions>
        <v-btn color="green" @click.stop="updateNote()">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog> -->







  <v-dialog v-model="newNoteModal" max-width="500px">
    <v-card>
      <v-card-title>
        Add a New Note
      </v-card-title>
      <v-card-text>

      <v-layout row>
        <v-flex xs12>
          <v-text-field
            name="title"
            label="Title"
            id="title"
            v-model="title"
          ></v-text-field>
        </v-flex>
      </v-layout>

      <v-layout row>
        <v-flex xs12>
          <v-text-field
            name="note"
            label="Note"
            id="note"
            v-model="note"
            required
          ></v-text-field>
        </v-flex>
      </v-layout>

      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" flat @click.stop="newNoteModal=false">Close</v-btn>
        <v-btn color="green" @click.stop="createNote">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</v-container>
</template>

<script>
import { db } from '../assets/app'
import EditNoteModal from '../components/EditNoteModal'

export default {
  name: 'FirebaseDemo',
  components: { EditNoteModal },
  data () {
    return {
      notes: [],
      isEditing: false,
      editedNote: null,
      title: '',
      note: '',
      newNoteModal: false,
      alertMsgVisible: false,
      alertMsg: '',
      editId: null
    }
  },
  firestore () {
    return {
      notes: db.collection('notes').orderBy('createdAt')
    }
  },
  methods: { 
    createNote () {
      const _this = this
      const title = _this.title
      const note = _this.note
      // const hashCode = (s) => {
      //   return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
      // }
      // console.log(hashCode(title))
      const createdAt = new Date()
      db.collection('notes').add({ title, note, createdAt }).then(function () {
        _this.newNoteModal = false
        _this.title = ''
        _this.note = ''
      })
    },
    editNote (note) {
      // console.log(note)
      this.editedNote = note
      this.isEditing = true
    },
    deleteNote (id) {
      const _this = this
      db.collection('notes').doc(id).delete().then(function () {
        _this.alertMsgVisible = true
        _this.alertMsg = id + ' deleted'
        setTimeout(() => {
          _this.alertMsg = ''
          _this.alertMsgVisible = false
        }, 1000);
      })
    },
    updateNote () {
      const _this = this
      const id = _this.editedNote.id
      const title = _this.editedNote.title
      const note = _this.editedNote.note
      // const hashCode = (s) => {
      //   return s.split("").reduce(function(a,b){a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);
      // }
      // console.log(hashCode(title))
      const updatedAt = new Date()
      db.collection('notes').doc(id).update({ title, note, updatedAt }).then(function () {
        _this.isEditing = false
        _this.editedNote = null
      })
    },

  }
}
</script>